* {
  font-family: JetBrainsMono, monospace;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #cdd6f4;
}

#workspaces button.active {
  background-color: #89b4fa;
  color: #1e1e2e;
}

#clock, #battery, #wireplumber.sink, #wireplumber.source, #network, #cpu, #memory {
  padding: 10px 15px;
  border-radius: 15px;
  text-shadow: 1px 1px rgba(0, 0, 0, 1.0);
}

#cpu, #memory {
  background-color: rgba(0, 255, 0, 0.2);
  margin-right: 50px;
}

#network, #battery {
  background-color: rgba(0, 0, 255, 0.2);
}

#wireplumber.sink, #wireplumber.source {
  background-color: rgba(255, 0, 0, 0.2);
}

#wireplumber.source {
  margin-right: 50px;
}

#clock {
  background-color: rgba(0, 0, 0, 0.2);
}

#cpu {
  margin-left: 50px;
}

#network, #battery, #wireplumber.sink, #wireplumber.source {
  margin-left: 50px;
}
